
@{
    bool isAuthN = User.Identity.IsAuthenticated;
    string userName = isAuthN
        ? User.Identity.Name
        : "Guest";
}

@if (isAuthN)
{
    <div class="nav-item">
        <form method="post"
              asp-action="LogOut"
              asp-controller="Account"
              class="form-inline">
            <button type="submit"
                    class="nav-link btn btn-link text-dark">
                Logout
            </button>
        </form>
    </div>
    <div class="nav-item">
        <div class="nav-link text-dark">@userName</div>
    </div>
}
else
{
    <div class="nav-item">
        <a asp-action="Login"
           asp-controller="Account" 
           class="nav-link text-dark">LogIn</a>
    </div>
    <div class="nav-item">
        <div class="nav-link text-dark">@userName</div>
    </div>
}
