
@using BookApp.BLL.Services.Authors
@model AuthorCreateDto

<h2>Create</h2>
<br />
<h4>Author</h4>
<br />
<div class="row">
    <div class="col-md-6">
        <form method="post"
              id="create-form"
              asp-action="Create"
              asp-controller="Author"
              asp-area="contentmanager">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Lastname"></label>
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firstname"></label>
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>
<br />
<div class="text-center">
    <button form="create-form"
            type="submit"
            class="btn btn-primary">
        create
    </button>
    <a asp-action="Index"
       asp-controller="Author"
       asp-area="contentmanager"
       class="btn btn-secondary">cancel</a>
</div>