@using BookApp.BLL.Services.Authors
@model AuthorListCombinedDto
@{ 
    ViewBag.Title = "Authors";
}

<h2>Authors</h2>
<br />
<table class="table">
    <tr>
        <th>firstname</th>
        <th>lastname</th>
    </tr>
    @foreach (var author in Model.Authors ?? Enumerable.Empty<AuthorListItemDto>())
    {
        <tr>
            <td>@author.Firstname</td>
            <td>@author.Lastname</td>
        </tr>
    }
</table>
<div class="text-center">
    <a asp-action="Create"
       asp-controller="Author"
       asp-area="contentmanager"
       class="btn btn-primary">
        Create
    </a>
</div>
<br />
<div>
    @for (int i = 1; i <= Model.PageOptions.PageCount; i++)
    {
        if (i > 1)
        {
            <text>|</text>
        }
        <a asp-action="Index"
           asp-controller="Author"
           asp-area="contentmanager"
           asp-route-page="@i">
            @i
        </a>
    }
</div>