@using BookApp.BLL.Services.Authors
@model IEnumerable<AuthorListItemDto>
<h2>Authors</h2>
<br />
<table class="table">
    <tr>
        <th>firstname</th>
        <th>lastname</th>
    </tr>
    @foreach (var author in Model ?? Enumerable.Empty<AuthorListItemDto>())
    {
        <tr>
            <td>@author.Firstname</td>
            <td>@author.Lastname</td>
        </tr>
    }
</table>
<div class="text-center">
    <a asp-action="Create"
       asp-controller="Author"
       asp-area="contentmanager"
       class="btn btn-primary">
        Create
    </a>
</div>