
@using ServiceLayer.CartServices
@model IEnumerable<CartLine>

<h2>Check out</h2>
<div class="row">
    <div class="col-md-8">
        <hr />
        <h4>Details</h4>
        <form id="form_submit" method="post" asp-action="PlaceOrder" asp-controller="Orders">
            <div class="form-group">
                <label>Firstname</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Lastname</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Phonenumber</label>
                <input class="form-control" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <hr />
        <h4>Items</h4>
        <table class="table">
            <tr>
                <th>title</th>
                <th>price</th>
                <th>quantity</th>
            </tr>
            @foreach (var line in Model)
            {
                <tr>
                    <td>@line.Book.Title</td>
                    <td>@line.Book.Price</td>
                    <td>@line.Quantity</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="text-center">
    <button form="form_submit"
            type="submit"
            class="btn btn-primary">
        Place order
    </button>
    <a asp-action="Index"
       asp-controller="Cart"
       class="btn btn-secondary">
        cancel
    </a>
</div>
