
<h2>Thank you</h2>
<h4>Your order has been placed successfully</h4>
<br />
<div class="text-center">
    <a asp-action="List"
       asp-controller="Order"
       class="btn btn-primary">Your Orders</a>
    <a asp-action="Index"
       asp-controller="Home"
       class="btn btn-secondary">Continue Shopping</a>
</div>