
@using ServiceLayer.CartServices
@model IEnumerable<CartLine>

@{
    Guid? editId = ViewBag.EditId;
}

<div asp-validation-summary="All" class="text-danger"></div>
<table class="table">
    <tr>
        <th class="col-md-7">Title</th>
        <th class="col-md-1">Price</th>
        <th class="col-md-1">Quantity</th>
        <th class="col-md-1">Subtotal</th>
        <th class="col-md-2"></th>
    </tr>
    @{
        decimal total = 0.0M;
    }
    @foreach (var line in Model ?? Enumerable.Empty<CartLine>())
    {
        decimal subtotal = line.Book.Price * line.Quantity;
        total += subtotal;

        string lineViewName = "LinePartial";
        if (editId.HasValue && editId == line.Book.BookId)
        {
            lineViewName = "LineEditPartial";
        }
        @(await Html.PartialAsync(
            partialViewName: lineViewName,
            model: line))
    }
    <tr>
        <th colspan="3">Total</th>
        <th>@total</th>
    </tr>
</table>
@if (!editId.HasValue)
{
    <div class="text-center">
        <a asp-action="Checkout"
           asp-controller="Order"
           class="btn btn-primary">
            check out
        </a>
        <a asp-action="Index"
           asp-controller="Home"
           class="btn btn-secondary">
            back to catalog
        </a>
    </div>
}
