
@using BookApp.BLL.Services.BookManageImage
@model BookImageToEditDto

@{
    ViewBag.Title = "Edit Image";
    string imagesPath = @"/uploads/images";
}
<h2>Edit Image</h2>
<br />
<h4>@Model.Title</h4>
<br />

<div asp-validation-summary="All" class="text-danger"></div>
<form method="post" enctype="multipart/form-data" 
      asp-action="EditImage" asp-controller="Home" asp-area="contentmanager" >
    <input name="id" value="@Model.BookId" hidden/>
    <label asp-for="ImageUrl"></label>
    <div>
        <img class="img-bl" src="@($"{imagesPath}/{Model.ImageUrl}")" />
    </div>
    <br />
    <input type="file" name="imageFile" id="imageFile" />
    <br />
    <div class="text-center">
        <button type="submit"
                class="btn btn-primary">update</button>
        <a asp-action="Details"
           asp-controller="Home"
           asp-route-id="@Model.BookId"
           asp-area="contentmanager"
           class="btn btn-secondary">cancel</a>
    </div>
</form>