
@using WebApplication.Models;
@model UserLoginDto

@{ 
    string returnUrl = ViewBag.ReturnUrl;
}

<h1>Log in</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post"
                  asp-action="LogIn"
                  asp-controller="Account">
                <h4>Use your account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger">
                    <ul>
                        <li style="display:none"></li>
                    </ul>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit"
                            class="btn btn-primary">
                        Log in
                    </button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="Register"
                           asp-controller="Account">
                            Register as a new user
                        </a>
                    </p>
                </div>
                <input name="returnUrl" value="@returnUrl" hidden />
            </form>
        </section>
    </div>
</div>
